body {
	background-color: #E9E9E9;
}

input:focus {
  outline: none;
}

.mgtop20 {
	margin-top: 20px;
}

#logbox {
	padding: 40px;
	background-color: #333;
	color: #fff;
}

#logbox.register {
	background-color: #333;
}

#logbox h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;

}

#logbox .form-input,
#logbox .form-submit {
	padding: 10px 0;
}

#logbox .form-input input[type="text"],
#logbox .form-input input[type="password"] {
	width: 100%;
	border: transparent;
	padding: 10px 0 10px 40px;
	background-color: rgba(255,255,255,.2);
	color: white;
	font-size: 12px;
	text-transform: uppercase;
}

#logbox .form-input input:focus {
	background-color: rgba(255,255,255,.5);
	transition:all 0.3s linear;
}

#logbox .form-input .username,
#logbox .form-input .password,
#logbox .form-input .email {
	position: relative;
}

#logbox .form-input .username:before,
#logbox .form-input .password:before,
#logbox .form-input .email:before {
	position: relative;
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 15px;
	z-index: 1000;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

#logbox .form-input .username:before {
	content: "\f007";
}

#logbox .form-input .password:before {
	content: "\f023";
}

#logbox .form-input .email:before {
	content: "\f0e0";
}

#logbox .form-submit input[type="submit"] {
	display: block;
	background: transparent;
	border: none;
	width: 100%;
	font-size: 11px;
	text-transform: uppercase;
	background-color: #f50;
	padding: 10px;
}

#logbox.register .form-submit input[type="submit"] {
	background-color: #f50;
}

#logbox .form-submit input[type="submit"]:active {
	margin-top: 3px;
	border-bottom: 2px solid #2c3e50;
	transition:all 0.1s linear;
}

#success, 
#error {
	text-transform: uppercase;
	letter-spacing: 1px;
}

#success {
	color: #2ecc71;
}

#error {
	color: #e74c3c;
}

.back-btn {
	color: rgba(255,255,255,.6);
	text-transform: uppercase;
	padding: 10px;
	font-size: 11px;
	transition:all 0.2s linear;
}

.back-btn:hover {
	color: white;
	text-decoration: none;
}

p.account {
	color: rgba(255,255,255,.7)
}

p.account a {
	color: white;
}


#topbar {
	padding: 20px 0;
}

.logo {
	color: #fff;
	font-size: 34px;
	line-height: 1;
}

.logo:hover {
	color: white;
}

#topbar h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
	margin-bottom: 20px;
}

#topbar a.btn {
	border: none;
	background-color: #f50;
	border: solid 1px #F50;
	float: right;
	line-height: 25px;
	color:white;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 5px;
}

#topbar a.btn:hover {
	background-color: #fff;
	color: #F50;
	border: solid 1px #F50;
	text-decoration: none;
}


#musicfeed h1{
	margin:0;
	padding:0;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 20px;
	letter-spacing: 1px;
	border-bottom: 1px solid #CCC;
}

.music,
.block {
	padding: 30px;
	background-color: #fff;
	margin-top: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: solid 1px #fff;
}

.music:hover{
	border: solid 1px #f50;
}

.music.playing {
	border: solid 1px #f50;
}

.music.playing h3{
	color: #f50;
	font-weight: bold;
}

.music
.block b {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	display: block;
	margin-bottom: 10px;
}

.music .author img,
.block .author img {
	display: inline-block;
	max-width: 100%;
	border-radius: 100%;
}

.music p.title {
	color: #646464;
	margin-bottom: 0;
}

.music .date {
	color: #999;
}

.music .actionicon a{
	color: #999;
}

.music .actionicon a:hover{
	color: #545251;
}

.block textarea {
	display: block;
	width: 100%;
	background-color: #F4F4F4;
	border: none;
	padding:10px;
}

.block .valid {
	border: none;
	padding: 10px 20px;
	color: white;
	background-color: #2ecc71;
}

.image:before {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	background: url("../images/overlay.png");
	border-radius: 0.35em;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
}

.thumb {
	text-align: center;
}

.thumb:after {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	border-radius: 0.35em;
	border: solid 3px rgba(255, 255, 255, 0.5);
	color: #fff;
	content: 'View';
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	left: 50%;
	line-height: 2.25em;
	margin: -1.25em 0 0 -3em;
	opacity: 0;
	padding: 0 1.5em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 50%;
	white-space: nowrap;
}

.thumb:hover:after {
	opacity: 1.0;
}

.thumb:hover:before {
	background: url("../images/overlay.png"), url("../images/overlay.png");
	opacity: 1.0;
}

.image img {
	border-radius: 0.35em;
	display: block;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.avatar {
	border-radius: 100%;
}

.image.avatar:before {
	display: none;
}

.image.avatar img {
	border-radius: 100%;
	width: 100%;
}

.audiojs .scrubber {
	background: none repeat scroll 0 0 #5A5A5A;
	border-bottom: 0 none;
	border-left: 0 none;
	border-top: 1px solid #3F3F3F;
	float: left;
	height: 14px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	width: 88%;
}

.audiojs .scrubber .progress{
	background: #F50;
	border-radius: 0;
}

.audiojs .scrubber .loaded{
	background: #444;
}

.audiojs .time {}

.audiojs .play-pause{
	width:40px;
}
.audiojs {
	background: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: monospace;
	font-size: 10px; /* reduced font size */
}